      <h2>Todolist component!</h2>
    <div>
      <app-todolist></app-todolist>
    </div>
      <h2>Today component!</h2>
    <div>
      <app-today></app-today>
    </div>
      <h2>Todo component!</h2>
    <div>
 <input placeholder="Nouveau todo" [(ngModel)]="newTodoText" /> 
  <button (click)="addTodo()">Ajouter Todo</button> 
   <app-todo *ngFor="let todo of todoList" [todo]="todo"> </app-todo> 
    </div>
<div *ngFor="let todo of todoList">
       <app-todo [todo]="todo"> </app-todo>
       <button (click)="deleteTodo(todo)">Supprimer</button>  
</div>

